@import "bootstrap.less";
@import "variables.less";


html {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    color: @textColor;
}
body {
    background-color: @backgroundColor;
      background-image: url("../images/clrs_back.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left center;
}

* {
    box-sizing: border-box;
}

.clrs-main {
    .container-fluid();
    width: 1200px;
    display: block;
    margin: @headerHeight auto 0 auto;
  
} 

.clrs-header {
    height: @headerHeight;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: @backgroundColor;
    border-bottom: 1px solid @grayColor;
    font-family: "Playfair Display";
    font-weight: bold;
    text-transform: uppercase;
    color: @textColor;
    z-index: 999;
    &-menu {
        margin: 0 auto;
        width: 1200px;
        text-align: center;
        &-item {
            padding: 10px 25px 5px 25px;
            line-height: @headerHeight;
            vertical-align: middle;
            &:link, &:visited {
                color: @textColor;
            }
            &:hover, &:active {
                text-decoration: none;
                color: @accentColor;
                border-bottom: 1px solid @accentColor;
            }
        }

    }
    &-logo {
    padding: 10px 25px 5px 25px;
    }
}

.clrs-footer {
    /*tymczas*/
    margin-top: 200px;
    width: 100%;
    background: @backgroundColor;
    border-top: 1px solid @grayColor;
    &-menu {
        margin: 0 auto;
        width: 1200px;
        text-align: center;
       &-item {
            font-family: "Playfair Display";
            font-weight: bold;
            padding: 10px 25px 5px 25px;
            line-height: @headerHeight;
            text-transform: uppercase;
            vertical-align: middle;
            &:link, &:visited {
                color: @textColor;
            }
            &:hover, &:active {
                text-decoration: none;
                color: @accentColor;
                border-bottom: 1px solid @accentColor;
            }
        }
    }
    &-claim {
        text-align: center;
    }

}