@import "layout.less";
@import "variables.less";
@import "bootstrap.less";

// * {
//     border: 1px solid red;
// }



.clrs-link {
    position: relative;
    color: @textColor;

	text-decoration: none;

	padding: 0 0 5px;
      font-family: "Playfair Display";
            font-weight: bold;
            margin: 0 25px;
            line-height: @headerHeight;
            text-transform: uppercase;
            vertical-align: middle;
                @media (max-width: @md) {
            margin: 0 10px;
    }
    &:after {
        position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: @accentColor;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
    }

    &--active {
        &:after {
    height: 2px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
        }
    }

    &:hover {
        outline: none;
        text-decoration: none;
        &:after {
            	height: 2px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
        }
    }

}

.clrs-address {
    .make-row();
    text-align: center;
    &-title {
        color: @grayColor;
        font-size: 30px;
        font-family: "Playfair Display";  
        font-weight: 900;      
    }
    &-text {
        color: @textColor;
        font-size: 18px;
        margin-bottom: 50px;
    }

    &-accent {
        color: @accentColor;
    }

    &-map {
        width: 100%;
        height: 400px;
    }
}
.clrs-open {
    .make-row();
    text-align: center;
    &-title {
        font-size: 30px;
        color: @grayColor;
        font-family: "Playfair Display";
        font-weight: 900;
    }
    &-text {
        font-size: 18px;
    }
    &-accent {
        color: @accentColor;
        font-size: 30px;        
        font-weight: 900;
        font-family: "Playfair Display";
    }
    &-hours {
        .make-xs-column-offset(1);
        .make-xs-column(10);
        .make-sm-column-offset(1);
        .make-sm-column(5);
        
        margin-top: 40px;
        
        margin-bottom: 40px;
    }

    &-visits {
          .make-xs-column-offset(1);
        .make-xs-column(10);
         .make-sm-column-offset(1);
        .make-sm-column(5);
        margin-top: 40px;
        
        margin-bottom: 40px;
        
    }
    &-resign {
         .make-xs-column-offset(1);
        .make-xs-column(10);
         .make-md-column-offset(3);
        .make-md-column(6);
        color: @accentColor;
        font-size: 18px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.clrs-separator {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    .make-row();
    &--left, &--right {
        width: 45%;
        height: 2px;
        background-color: @grayColor;
        float: left;
    }
    &--right {
        float: right;
    }

    &-image {
        position: absolute;
        left: 50%;
        top: -14px;
        transform: translateX(-50%);
    }
}
.clrs-button {
    color: @accentColor;
    text-transform: uppercase;
    border: 2px solid @accentColor;
    text-align: center;
    display: block;
    width: 200px;
    padding: 7px;
    margin: 10px auto;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
        font-family: "Playfair Display";
        font-weight: bold;
        text-decoration: none;
        border-radius: 30px;
    &:before {
        content: " ";
        display: table;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
        background-color: @accentColor;
    }
}

.clrs-lead {
    .make-row();
    &-title {
        .make-xs-column-offset(1);
        .make-xs-column(10);
        .make-md-column-offset(2);
        .make-md-column(8);
        font-family: "Playfair Display";
        text-align: center;
        font-weight: 900;
        font-size: 70px;
        line-height: 78px;
        letter-spacing: -1px;
        color: @accentColor;
         @media (max-width: @sm) {
             font-size: 40px;
             line-height: 45px;
         }
    }

    &-text {
        .make-xs-column-offset(1);
        .make-xs-column(10);
        .make-md-column-offset(3);
        .make-md-column(6);
        font-size: 18px;
        color: @textColor;
        text-align: center;
        margin-bottom: 30px;
        
        .clrs-button {
            margin-top: 50px;
        }
    }
}
.clrs-section {

    &:after {
        content: "";
        display: block;
        clear: both;
    }
    &-title {
        font-family: "Playfair Display";
        text-align: center;
        font-weight: 900;
        font-size: 70px;
        line-height: 78px;
        letter-spacing: -1px;
        color: @accentColor;
        line-height: 76px;
         @media (max-width: @sm) {
            font-size: 50px;
    }
    }

    &-subtitle {
         font-size: 24px;
        color: @grayColor;
        font-family: "Playfair Display";
        font-weight: 700;
        text-align: center;
        line-height: 34px;
    }
}

.clrs-tiles {
    .make-xs-column-offset(1);
    .make-xs-column(10);
    .make-md-column-offset(2);
    .make-md-column(8);
    .make-lg-column-offset(3);
    .make-lg-column(6);
    position: relative;
    font-size: 0;
    margin-top: 50px;
    margin-bottom: 20px;
    &-item {
        display: inline-block;
        width: 33%;
        text-align: center;
        vertical-align: top;
        padding: 10px;
        transition: all 0.2s ease-in-out;
        @media (max-width: @sm) {
            width: 50%;
    }
        &-text {
            font-size: 16px;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
}

.clrs-2Col {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
    color: @grayColor;
    &-half {
        .make-xs-column(12);
        .make-md-column(6);
        .make-lg-column-offset(1);
        .make-lg-column(5);
    }
    &-half + &-half {
        .make-lg-column-offset(0);
        .make-lg-column(5);
    }
}

.clrs-panel {
    .make-xs-column(12);
    border: 1px solid @grayColor;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: @grayColor;

    &-row {
        .make-xs-column(12);
        .make-md-column-offset(2);
        .make-md-column(8);
        .make-lg-column-offset(3);
        .make-lg-column(6);
        padding-left: 0;
        padding-right: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid @grayColor;
        font-size: 18px;
        font-weight: 300;

        &-title {
           
        }
        &-description {
            float: right;
        }
    }
}

ol {
    counter-reset: item;
    list-style: none;

    li {
        counter-increment: item;
        padding-left: 30px;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        color: @grayColor;
        &:before {
            content: counter(item) + ".";
            color: @accentColor;
            position: absolute;
            left: -30px;
            top: 0;
            font-weight: 700;
            font-size: 18px;
        }
    }
}

/* Utilities */


.clrs-u-accentText {
        font-size: 30px;
        color: @grayColor;
        font-family: "Playfair Display";
        font-weight: 900;
        text-align: center;
        line-height: 34px;
        margin-top: 50px;
        display: block;
}

.sok-u-centeredText {
    .make-xs-column-offset(1);
    .make-xs-column(10);
    .make-sm-column-offset(2);
    .make-sm-column(8);
    .make-lg-column-offset(3);
    .make-lg-column(6);
    color: @grayColor;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
    margin-bottom: 30px;
}

.clrs-facebook {
    position: fixed;
    right:0;
    height: 100px;
    width: 200px;
    top: 25vh;
    background: #fff;
    right: -100px;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-animation: facebookAnimation infinite 1.5s;
            animation: facebookAnimation infinite 1.5s;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    z-index: 999;

     @media (max-width: @md) {
        display: none;
    }

    &--mobile {
        display: block;
        margin: 10px auto;
        width: 50px;
        height: 50px;
        background-image: url("../images/facebook.png");
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
        -webkit-transition: 0.3s all ease-in;
        transition: 0.3s all ease-in;

        &:hover, &:active, &:focus {
            border-bottom: none;
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
        }
    }
}

.clrs-facebook:hover {
    right: 0;
    -webkit-animation: none;
            animation: none;
}
.clrs-facebook-slogan {
    height: 100%;
    width: 100px;
    float: left;
    background-image: url("../images/facebook.png");
    background-size: 100px 100px;
    background-position: top center;
    background-repeat: no-repeat;
}
.clrs-facebook-offer {
    padding: 10px;
    text-align: center;
    height: 100%;
    display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	-ms-flex-align: center;
	-webkit-box-align: center;

	align-items: center;
    a:hover {
        text-decoration: none;
    }
}


.clrs-noAnimation {
    -webkit-animation: none;
            animation: none;
}


@-webkit-keyframes facebookAnimation {
0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
	40% {
     -webkit-transform: translateX(-10px);
             transform: translateX(-10px);
  }
	60% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}