@import "layout.less";
@import "variables.less";
@import "bootstrap.less";

// * {
//     border: 1px solid red;
// }



.clrs-link {
    position: relative;
    color: @textColor;

	text-decoration: none;

	padding: 0 0 5px;
      font-family: "Playfair Display";
            font-weight: bold;
            margin: 0 25px;
            line-height: @headerHeight;
            text-transform: uppercase;
            vertical-align: middle;
                @media (max-width: @md) {
            margin: 0 10px;
    }
    &:after {
        position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: @accentColor;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
    }

    &:hover {
        outline: none;
        text-decoration: none;
        &:after {
            	height: 2px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
        }
    }

}

.clrs-address {
    .make-row();
    text-align: center;
    &-title {
        color: @grayColor;
        font-size: 30px;
        font-family: "Playfair Display";  
        font-weight: 900;      
    }
    &-text {
        color: @textColor;
        font-size: 18px;
        margin-bottom: 50px;
    }

    &-accent {
        color: @accentColor;
    }

    &-map {
        width: 100%;
        height: 400px;
    }
}
.clrs-open {
    .make-row();
    text-align: center;
    &-title {
        font-size: 30px;
        color: @grayColor;
        font-family: "Playfair Display";
        font-weight: 900;
    }
    &-text {
        font-size: 18px;
    }
    &-accent {
        color: @accentColor;
        font-size: 30px;        
        font-weight: 900;
        font-family: "Playfair Display";
    }
    &-hours {
        .make-xs-column-offset(1);
        .make-xs-column(10);
        .make-sm-column-offset(1);
        .make-sm-column(5);
        
        margin-top: 40px;
        
        margin-bottom: 40px;
    }

    &-visits {
          .make-xs-column-offset(1);
        .make-xs-column(10);
         .make-sm-column-offset(1);
        .make-sm-column(5);
        margin-top: 40px;
        
        margin-bottom: 40px;
        
    }
    &-resign {
         .make-xs-column-offset(1);
        .make-xs-column(10);
         .make-md-column-offset(3);
        .make-md-column(6);
        color: @accentColor;
        font-size: 18px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.clrs-separator {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    .make-row();
    &--left, &--right {
        width: 45%;
        height: 2px;
        background-color: @grayColor;
        float: left;
    }
    &--right {
        float: right;
    }

    &-image {
        position: absolute;
        left: 50%;
        top: -14px;
        transform: translateX(-50%);
    }
}
.clrs-button {
    color: @accentColor;
    text-transform: uppercase;
    border: 2px solid @accentColor;
    text-align: center;
    display: block;
    width: 200px;
    padding: 7px;
    margin: 10px auto;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
        font-family: "Playfair Display";
        font-weight: bold;
        text-decoration: none;
        border-radius: 30px;
    &:before {
        content: " ";
        display: table;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
        background-color: @accentColor;
    }
}

.clrs-lead {
    .make-row();
    &-title {
        .make-xs-column-offset(1);
        .make-xs-column(10);
        .make-md-column-offset(2);
        .make-md-column(8);
        font-family: "Playfair Display";
        text-align: center;
        font-weight: 900;
        font-size: 70px;
        line-height: 78px;
        letter-spacing: -1px;
        color: @accentColor;
         @media (max-width: @sm) {
             font-size: 40px;
             line-height: 45px;
         }
    }

    &-text {
        .make-xs-column-offset(1);
        .make-xs-column(10);
        .make-md-column-offset(3);
        .make-md-column(6);
        font-size: 18px;
        color: @textColor;
        text-align: center;
        margin-bottom: 30px;
        
        .clrs-button {
            margin-top: 50px;
        }
    }
}